 # -----------------------------
# Terraform
# -----------------------------
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
tfplan*
*.backup

# Ignore arquivos sensíveis
*.auto.tfvars
terraform.tfvars

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Logs
# -----------------------------
*.logterraform.tfvars
prod.tfvars
