name: Terraform CI

on:
  push:
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform-ci.yml"
  pull_request:
    paths:
      - "infra/terraform/**"

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra/terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Terraform init (CI sem backend remoto)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan (dry-run)
        run: terraform plan -input=false -lock=false