name: Terraform CI

on:
  push:
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform-ci.yml"
  pull_request:
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform-ci.yml"

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_ROOT: infra/terraform/envs/model1

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform fmt
        run: terraform -chdir=infra/terraform fmt -check -recursive

      - name: Terraform init (CI sem backend remoto)
        run: terraform -chdir=${{ env.TF_ROOT }} init -backend=false -input=false

      - name: Terraform validate
        run: terraform -chdir=${{ env.TF_ROOT }} validate

      - name: Terraform plan (dry-run)
        run: terraform -chdir=${{ env.TF_ROOT }} plan -input=false -lock=false